{% extends 'base.html' %}

{% block body %}


<h4> You are Player {{player}} using color {{color}}. </h4>

Next turn is {{game.turn}}

{% if game.winner == color%}
<h1>YOU WIN</h1>
{% endif %}

<br>
<br>
<table>
    <thead>
    {% if color == game.turn and not game.winner %}
        <tr>
        {% for cell in game.board[0] %}
            <th><a href="/games/{{player}}?column={{loop.index0}}">play</a></th>
        {% endfor %}
        </tr>
    {% endif %}
    </thead>
{% for row in game.board | reverse %}
    <tr>        
        {% for cell in row %}
            <td>{{cell}}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock%}